.ks-hidden {
  display: none;
  &\@small {
    @media (min-width: $breakpoint-small) {
      display: none;
    }
  }
  &\@medium {
    @media (min-width: $breakpoint-medium) {
      display: none;
    }
  }
  &\@large {
    @media (min-width: $breakpoint-large) {
      display: none;
    }
  }
  &\@ultra {
    @media (min-width: $breakpoint-ultra) {
      display: none;
    }
  }
}

.ks-visible {
  &\@small {
    @media (max-width: $breakpoint-small - 1px) {
      display: none;
    }
  }
  &\@medium {
    @media (max-width: $breakpoint-medium - 1px) {
      display: none;
    }
  }
  &\@large {
    @media (max-width: $breakpoint-large - 1px) {
      display: none;
    }
  }
  &\@ultra {
    @media (max-width: $breakpoint-ultra - 1px) {
      display: none;
    }
  }
}

// Wrapper to make child elements responsive and x-scrollable without destroying the layout on mobile/small devices
.ks-overflow-auto {
  overflow-x: auto;
}
